/*
github theme stolen from hightlight.js

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs-comment,
.hljs-quote {
  color: #999988;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333333;
  font-weight: 700;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #DD1144;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #990000;
  font-weight: 700;
}

.hljs-subst {
  font-weight: 400;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #445588;
  font-weight: 700;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: 400;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086B3;
}

.hljs-meta {
  color: #999999;
  font-weight: 700;
}

.hljs-deletion {
  background: #FFDDDD;
}

.hljs-addition {
  background: #DDFFDD;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
